{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            Home
        </li>
    </ul>
    
    <table class="table">
        <thead>
            <tr>
                <th>Posts</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Published posts</td>
                <td>{{ stateCounts.published }}</td>
            </tr>
            <tr>
                <td>Drafts</td>
                <td>{{ stateCounts.draft }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <a class="btn" href="{{ path('posts_index') }}">
                        View
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
                 
    <table class="table">
        <thead>
            <tr>
                <th>Job</th>
                <th>Status</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for work in workerLogs %}
            <tr>
                <td>{{ work.type }}</td>
                <td>{{ work.status }}</td>
                <td>{{ work.createdAt | time_format }} ago</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <a class="btn" href="{{ path('posts_index') }}">
                        View
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
                        
    <table class="table">
        <thead>
            <tr>
                <th>Site</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td><a href="{{ path('site_edit', { 'id': site.id }) }}">{{ site.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td><a class="btn" href="{{ path('site_new') }}">Create</a></td>
            </tr>
        </tfoot>
    </table>

    <small class="float-right">{{version}}</small>
{% endblock %}