{% extends 'ContentTheme/base.html.twig' %}

{% block body -%}
    {% for post in posts %}
        <article>
            <h2><a href="{{post.url}}.html">{{ post.title }}</a></h2>
            {{ post.transformedContent | raw }}
        </article>
    {% endfor %}
    {% if previousPagePath %}
        <a href="{{ previousPagePath }}">Previous</a>
    {% endif %}
    {% if nextPagePath %}
        <a href="{{ nextPagePath }}">Next</a>
    {% endif %}
{% endblock %}